body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; 
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  color: #6c5b7b; 
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #6c5b7b; 
  border-radius: 4px; 
}

button {
  background-color: #355c7d; 
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
}

button:hover {
  background-color: #2b4c6f; 
}

.expense-container {
  margin-top: 20px;
}

.expense-item {
  border: 1px solid #6c5b7b; 
  padding: 10px;
  margin-bottom: 10px;
  background-color: #d4a5a5; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px; 
}

.expense-item p {
  margin: 5px 0;
}

.expense-item hr {
  border: 0.5px solid #6c5b7b; 
  margin: 10px 0;
}
.container {
  width: 70%;
  margin: 0 auto;
}

.premium-membership {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.premium-membership button {
  padding: 10px;
  background-color: #8B4513; 
  color: #FFF;
  border: none;
  cursor: pointer;
}



#leaderboardContainer {
  margin-top: 20px;
  border: 1px solid #6c5b7b;
  padding: 10px;
  background-color: #d4a5a5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#leaderboardContainer h2 {
  margin-bottom: 10px;
  color: #6c5b7b;
}

.leaderboard-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff6f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.leaderboard-item p {
  margin: 5px 0;
}

.leaderboard-item hr {
  border: 0.5px solid #ac8fc5;
  margin: 10px 0;
}
